// -----------------------------------------------------------------------------
// _intro.scss
// HSUS Engaging Networks Forms - Enya 2021
// Created: Winter 2021
// Purpose: This file contains all styles related to the page's intro content.
// -----------------------------------------------------------------------------
.headline-block {
  text-align: left;

  @include mq($md) {
    margin-top: 3.25rem;
  }
}

.headline-block h1 {
  @extend %headline;
  font-size: rem(40);
  margin-bottom: 1rem;

  body.enya-hsi & {
    color: $hsi-dark-green;
  }

  @include mq($md) {
    margin-bottom: rem(20);
  }
}

// This should be the "*Required fields" text
.headline-block+.en__component--copyblock p {
  margin-bottom: rem(30);
  margin-top: rem(-10);
}

.enya-wlt .headline-block h1 {
  color: $wlt-dark-green;
}

.hero-image {
  height: auto !important;
  max-width: 100%;
}

.enya p.hero-credit {
  @include font-family("freight-regular-italic");
  font-size: rem(11);
  line-height: 1.363636;
  margin-top: 5px;
  margin-bottom: 0;
  color: $photo-credit-color;
  padding-left: rem(25);

  @include mq($md) {
    padding-left: 0;
  }
}

.intro-text-block {
  margin-top: rem(33);
  padding: 0 rem(20) 0 rem(25);

  @include mq($md) {
    padding: 0;
  }

  p,
  p strong {
    @include font-family("freight-regular");
    font-size: rem(20);
    line-height: 1.4;
    color: $text-color;
    margin-top: 0;
    margin-bottom: rem(10);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // Make sure strong text doesn't size up relative to p size.
  // And keep the text color of the parent.
  p strong {
    font-weight: 600;
    font-size: 1em;
    line-height: 1;
    color: inherit;
  }
}