<!doctype html>
<html lang="en" style="overflow-x: unset;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>${page~title}</title>
  <base target="_self">

  <link rel="preload stylesheet" as="style" href="https://use.typekit.net/pkd2qjy.css" type="text/css" crossorigin="anonymous">
  <link href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/surveys-hsi.css?v=1659365316000"
    rel="stylesheet preload" as="style" type="text/css">


  <meta property="og:site_name" content="Support Humane Society International" />
  <meta property="og:type" content="website" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="256x256"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/android-chrome-256x256.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/favicon-16x16.png">
  <link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/safari-pinned-tab.svg"
    color="#024731">
  <link rel="shortcut icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/favicon.ico">
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no">
  <script>
    // Initialize pageConfigSettings. Each page adds settings in its own
    // settings block, if needed.
    window.pageConfigSettings = window.pageConfigSettings || {};
  </script>

</head>

<body class="enya enya-hsi enya-surveys enya-pg-upsell enya-hsi-iframe" style="overflow-x: unset;">

  <div id="page-wrapper">
    <div id="page-header" style="display:none">
      <header>
        <div class="logo-header-wrapper">
          <div class="logo-header">
            <a href="https://www.hsi.org/" class="hsi-logo" target="_blank" rel="noopener noreferrer"><span>HSI Logo</span></a>
          </div>
        </div>
      </header>
    </div> <!-- /#page-header -->
    <noscript>
      <div id="noscript-warning">Please enable your browser’s JavaScript.</div>
    </noscript>
    <div id="page-container">
      <div id="page-content">
        <div id="main-container">
          <main id="main-content">
            <!-- End Template Header Block -->
            <!-- Begin Template Footer Block -->
          </main> <!-- /#main-content -->
        </div> <!-- /#main-container -->
      </div> <!-- /#page-content -->
    </div> <!-- /#page-container -->
    <div id="page-footer" style="display:none">
      <div id="page-footer-wrap">
        <ul class="footer-nav">
          <li><a href="https://www.hsi.org/" target="_blank">Home</a></li>
          <li><a href="https://www.hsi.org/privacy-cookie-policy/" target="_blank">Privacy Policy</a></li>
          <li><a href="https://www.hsi.org/contact-us/" target="_blank">Contact Us</a></li>
        </ul>
        <p class="copyright">&copy; <span id="current-year">2022</span> Humane Society International</p>
        <script>
          document.getElementById("current-year").textContent = new Date().getFullYear();
        </script>

      </div>
    </div><!-- /#page-footer -->
  </div> <!-- /#page-wrapper -->

  <script
    src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/iframeSizer.contentWindow.min.js?v=1658503703000">
  </script>
  <script src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/surveys-hsi.js?v=1659365300000">
  </script>

</body>

</html>