<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>${page~title}</title>
  <!-- Google Tag Manager — Head -->
  <script>
    /* eslint-disable */
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-59PDSH');
</script>
  <!-- End Google Tag Manager — Head -->
  <link rel="preload stylesheet" as="style" href="https://use.typekit.net/pkd2qjy.css" type="text/css" crossorigin="anonymous">
  <link href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/donation-production.css?v=1687893561000"
    rel="stylesheet preload" as="style" type="text/css">

  <meta property="og:site_name" content="Support Humane Society International" />
  <meta property="og:type" content="website" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="256x256"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/android-chrome-256x256.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/favicon-16x16.png">
  <link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/safari-pinned-tab.svg"
    color="#024731">
  <link rel="shortcut icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/favicon.ico">
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no">

  <script>
    // Initialize pageConfigSettings. Each page adds settings in its own
    // settings block, if needed.
    window.pageConfigSettings = window.pageConfigSettings || {};
</script>
</head>

<body class="enya enya-donation enya-hsi">
  <div id="skip"><a href="#main-content">Skip to Main Content</a></div>
  <!-- Google Tag Manager — Body -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59PDSH" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager — Body -->

  <div id="page-wrapper">
    <div id="page-header">
      <header>
        <div class="logo-header">
          <a href="https://www.hsi.org/" class="hsi-logo" target="_blank" rel="noopener noreferrer"><span>HSI Logo</span></a>
        </div>
      </header>
    </div> <!-- /#page-header -->
    <noscript>
      <div id="noscript-warning">Please enable your browser’s JavaScript.</div>
    </noscript>
    <div id="page-container">
      <div id="page-content">
        <div id="main-container">
          <div id="main-content">
            <!-- End Template Header Block -->
            <!-- Begin Template Footer Block -->
          </div> <!-- /#main-content -->
        </div> <!-- /#main-container -->
      </div> <!-- /#page-content -->
    </div> <!-- /#page-container -->
    <div id="page-footer">
      <footer>
        <div class="legal-text">
          <div class="footer-custom-text-container hidden">
            <!-- If a form has a custom message to show in the footer, Enya will insert it here. -->
          </div>
          <div class="nonprofit-text nonprofit-text-default nonprofit-text-eu">
            <p>Contributions to Humane Society International are tax-deductible to the extent permitted by law in your country. HSI’s U.S.
              tax identification number is 52-1769464. <a href="https://www.hsi.org/privacy-cookie-policy/" target="_blank"
                rel="noopener noreferrer">Privacy
                Policy</a>
            </p>
          </div>
          <div class="nonprofit-text nonprofit-text-ca hidden">
            <p>Contributions to HSI/Canada are not tax-deductible. Non-profit organizations in Canada that lobby to change government policy
              are generally denied charitable status. <a href="https://www.hsi.org/privacy-cookie-policy/" target="_blank"
                rel="noopener noreferrer">Privacy
                Policy</a>
            </p>
          </div>
          <div class="nonprofit-text nonprofit-text-friends-hsi hidden">
            <p>Les Amis de HSI est un organisme de bienfaisance enregistré au Canada. (Numéro d’enregistrement #137412102 RR0001). Les contributions financières versées aux Amis de HSI sont déductibles des impôts au Canada. <a href="https://friendsofhsi.ca/privacy-policy/" target="_blank"
                rel="noopener noreferrer">Politique sur la vie privée</a>
            </p>
          </div>
          <div class="nonprofit-text nonprofit-text-gb hidden">
            <p>HSI/UK is registered in England and Wales as charity number 1098925, company number 4610194. <a
                href="https://www.hsi.org/privacy-cookie-policy/" target="_blank" rel="noopener noreferrer">Privacy
                Policy</a>
            </p>
          </div>
        </div>

        <div class="copyright-text">
          <p class="copyright">&copy; <span class="copyright-holder">Les Amis de HSI</span> <span id="current-year">${page~currentYear}</span></p>
        </div>


        <div class="donor-care-text donor-care-text-default">
          <h5><strong>Questions about donating?</strong></h5>
          <p>
            <a href="mailto:info@hsi.org">Send us an email</a>, call us at <a href="tel:+1-866-614-4371">866-614-4371</a> or <a
              href="https://www.hsi.org/frequently-asked-questions/" target="_blank" rel="noopener noreferrer">
              read our FAQ</a>.
          </p>
          <p class="bottom-0">
            To contribute by mail, please send a personal check or money order made payable to Humane Society International to:
          </p>
          <blockquote>
            Humane Society International<br>
            1255 23rd Street, NW, Suite 450<br>
            Washington, DC 20037<br>
          </blockquote>
        </div>
        <div class="donor-care-text donor-care-text-ca hidden">
          <h5><strong>Questions about donating?</strong></h5>
          <p>
            <a href="mailto:info@hsicanada.ca">Send us an email</a>, call us at <a href="tel:+1-866-614-4371">866-614-4371</a> or <a
              href="https://www.hsi.org/frequently-asked-questions/" target="_blank" rel="noopener noreferrer">
              read our FAQ</a>.
          </p>
          <p class="bottom-0">
            To contribute by mail, please send your personal cheque made payable to HSI/Canada to:
          </p>
          <blockquote>
            HSI/Canada<br>
            4035 Saint-Ambroise Street, Suite 320<br>
            Montreal, QC H4C 2E1<br>
          </blockquote>
        </div>
        <div class="donor-care-text donor-care-text-friends-hsi hidden">
          <h5><strong>Vous avez des questions sur le don?</strong></h5>
          <p>
            <a href="mailto:info@friendsofhsi.ca">Envoyez-nous un courriel</a>.
          </p>
          <p class="bottom-0">
            Si vous souhaitez envoyer votre contribution par la poste, veuillez envoyer votre chèque personnel libellé à l’ordre des Amis de HSI à
            l’adresse suivante :
          </p>
          <blockquote>
            Les Amis de HSI<br>
            4035 Saint-Ambroise Street, Suite 320<br>
            Montreal, QC H4C 2E1<br>
          </blockquote>
        </div>
        <div class="donor-care-text donor-care-text-eu hidden">
          <h5><strong>Questions about donating?</strong></h5>
          <p>
            <a href="mailto:info@hsieurope.org">Send us an email</a> or <a href="https://www.hsi.org/frequently-asked-questions/"
              target="_blank" rel="noopener noreferrer">
              read our FAQ</a>.
          </p>
          <p>
            Currently, we are unable to process donations sent by mail. We advise our European supporters to please donate via direct bank
            transfer (see below) or credit card. Please use this banking information and insert 'DONATION-FIRST.NAME-SURNAME' in the subject
            line: CITIBANK EUROPE PLC - BELGIUM BRANCH - IBAN: BE39 5701 3581 5519 - BIC: CITIBEBX
          </p>
        </div>
        <div class="donor-care-text donor-care-text-gb hidden">
          <h5><strong>Questions about donating?</strong></h5>
          <p>
            <a href="mailto:info@hsiuk.org">Send us an email</a>, call us at <a href="tel:02074905288">0207 490 5288</a> or <a
              href="https://www.hsi.org/frequently-asked-questions/" target="_blank" rel="noopener noreferrer">
              read our FAQ</a>.
          </p>
          <p class="uk-direct-debit-link">Make a gift by <a href="https://www.committedgiving.uk.net/humanesociety/public/" target="_blank" rel="noopener noreferrer">direct debit</a>.</p>
          <p class="bottom-0">
            To contribute by post, please send your personal cheque made payable to HSI/UK to:
          </p>
          <blockquote>
            HSI/UK<br>
            5 Underwood Street<br>
            London N17LY United Kingdom<br>
          </blockquote>
        </div>
      </footer>
    </div> <!-- /#page-footer -->
  </div> <!-- /#page-wrapper -->

  <!--Our loading spinner. We'll move this into place and show it when we need it.-->
  <template id="spinner-template">
    <div class="spinner-container">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
  </template>

  <script src="//geoip-js.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript"></script>
  <script src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/iframeResizer.min.js"></script>

  <!-- FreshAddress library requires jQuery :( -->
  <script src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/jquery-3-6-4-min.js"></script>

  <!-- FreshAddress client-side integration library. Token is for HSI only. -->
  <script
    src="//api.freshaddress.biz/js/lib/freshaddress-client-7.0.min.js?token=cf4697794bb00835b0f5d9b0a5827ee92fabc4cc9d46b30a378971268fab98df"></script>

  <script
    src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/donation-production.js?v=1687893584000"></script>
</body>

</html>