// -----------------------------------------------------------------------------
// _campaign.scss
// HSUS Engaging Networks Forms - Enya 2021
// Created: Summer 2021
// Purpose: Styles for campaign section of splash pages.
// -----------------------------------------------------------------------------

.campaign-section-block {
  margin-top: 0;
}

.campaign-section-block img {
  min-width: 80%;
  max-width: 100%;
  height: auto;
}

.campaign-block {
  // This is needed to control the width of popovers.
  position: relative;

  a {
    box-shadow: none;
  }
}

h3.campaign-title {
  font-size: rem(30);
  line-height: 1.2; // 30/36
  font-weight: 500;
  color: $humane-blue;
  margin: rem(10) auto rem(30);
  padding: 0;
}
