// -----------------------------------------------------------------------------
// _variables.scss
// HSUS EN Forms - Enya 2021
// Created: Fall 2021
// Purpose: This file contains application-wide Sass variables, in addition to those found in the common files.
// -----------------------------------------------------------------------------

$page-padding-x: 1.5rem;

$gutter-x: 3.25rem;
$gutter-y: 0rem;
