// -----------------------------------------------------------------------------
// _variables.scss
// HSUS EN Forms - Enya 2021
// Splash Pages
// Created: Summer 2021
// Purpose: Additional variables specific to splash pages.
// -----------------------------------------------------------------------------

$page-padding-x: 1.5rem;
$gutter-x: 3.25rem;
$gutter-y: 0rem;