// -----------------------------------------------------------------------------
// _fee-cover.scss
// HSUS Engaging Networks Forms - Enya 2022
// Created: Spring 2022
// Purpose: Styles that apply to the fee cover checkbox and its label.
// -----------------------------------------------------------------------------

// Keep the fee cover checkbox and label at normal size if Apple Pay is
// available. That avoids a stack of three checkboxes where the fee cover is
// larger than the other two.
.enya:not(.is-apple-pay-enabled) .en__field.en__field--feeCover {
  margin-top: rem(16);
  margin-bottom: rem(24);

  .en__field__element--checkbox .en__field__item {
    // Fix vertical alignment when label is one line.
    @include mq(555) {
      align-items: center;
    }

    @include mq($md) {
      align-items: flex-start;
    }
  }

  #en__field_transaction_feeCover {
    width: rem(24);
    height: rem(24);
  }

  label[for=en__field_transaction_feeCover] {
    font-size: rem(16);
  }
}