// -----------------------------------------------------------------------------
// _variables.scss
// HSUS EN Forms - Enya 2021
// Created: Winter 2021
// Purpose: This file contains all application-wide Sass variables.
// Note: Define color primitives up top, then use those primitives with
// descriptive labels below.
// Web Style Guide here: https://thinkshout.invisionapp.com/console/share/HFERPHU3J/266536895
// -----------------------------------------------------------------------------
// =============================================================================
// Colors
// =============================================================================
$baby-blue: #CCEEF7;
$baby-blue-light: #D7F8FF;
// =============================================================================
// Typography
// =============================================================================
//----[ Functional Variables ]--------------------------------------------------
/// Font size small
/// @type Font size
$size-sm: .875rem;
//----[ End Functional Variables ]----------------------------------------------
// =============================================================================
// Page
// =============================================================================
$page-padding-x: 1.5rem;
$max-width--content: rem(720);
// =============================================================================
// Grid
// =============================================================================
$gutter-x: 3.25rem;
$gutter-y: 0rem;
// =============================================================================
// Fields
// =============================================================================
$field-spacing: .635rem;
// =============================================================================
// Icon
// =============================================================================
$icon-warning: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18'%3E%3Cpath fill='%23C5351C' d='M19.9078,16.98,10.6291.348a.7428.7428,0,0,0-1.2584,0L.0931,16.98a.6521.6521,0,0,0,.0052.68.73.73,0,0,0,.623.34H19.2786a.7294.7294,0,0,0,.6229-.34A.654.654,0,0,0,19.9078,16.98ZM11.0417,16H8.9582V14h2.0835Zm0-3.5H8.9582V6h2.0835Z'/%3E%3C/svg%3E");