<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>${page~title}</title>
  <!-- Google Tag Manager — Head -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TS9VRT');
</script>
  <!-- End Google Tag Manager — Head -->
  <link rel="stylesheet" href="https://use.typekit.net/pkd2qjy.css">
  <link href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/surveys.css?v=1685632978000"
    rel="stylesheet">
  <meta property="og:site_name" content="Support the Humane Society of the United States" />
  <meta property="og:type" content="website" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="512x512"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/favicon-16x16.png">
  <link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/hsus-mask-icon.svg"
    color="#00358E" />
  <link rel="icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/favicon.ico"
    type="image/vnd.microsoft.icon" />
  <meta name="theme-color" content="#ffffff">
  <script>
    // Initialize pageConfigSettings. Each page adds settings in its own
    // settings block, if needed.
    window.pageConfigSettings = window.pageConfigSettings || {};
</script>
</head>

<body class="enya enya-surveys">
  <!-- Google Tag Manager — Body -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TS9VRT" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager — Body -->
  <div id="page-wrapper">
    <div id="page-header">
      <header>
        <div class="logo-header-wrapper">
          <div class="logo-header">
            <a href="https://www.humanesociety.org/" class="hsus-logo" target="_blank" rel="noopener noreferrer"></a>
          </div>
        </div>
      </header>
    </div> <!-- /#page-header -->
    <noscript>
      <div id="noscript-warning">Please enable your browser’s JavaScript.</div>
    </noscript>
    <div id="page-container">
      <div id="page-content">
        <div id="main-container">
          <div id="main-content">
            <!-- End Template Header Block -->
            <!-- Begin Template Footer Block -->
          </div> <!-- /#main-content -->
        </div> <!-- /#main-container -->
      </div> <!-- /#page-content -->
    </div> <!-- /#page-container -->

    <footer>
      <div id="page-footer">
        <div id="page-footer-wrap">
          <ul class="footer-nav">
            <li><a href="https://www.humanesociety.org/" target="_blank">Home</a></li>
            <li><a href="https://www.humanesociety.org/privacy-policy" target="_blank">Privacy Policy</a></li>
            <li><a href="https://www.humanesociety.org/forms/contact-us" target="_blank">Contact Us</a></li>
          </ul>
          <div class="copyright-text">
            <p class="copyright">&copy; <span id="current-year">${page~currentYear}</span> The Humane Society of the United States
            </p>
          </div>
        </div> <!-- /#page-footer -->
      </div> <!-- /#page-wrapper -->
    </footer>

    <script src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/surveys.js?v=1686254410000">
</script>
</body>

</html>