.topBanner {
    background-image: linear-gradient(to bottom, rgba(0,0, 0, 0) 40%, rgba(0, 0, 0, 0.2) 100%), url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/Testata-3.jpg?v=1697702737000) !important;
    background-position: 100% 50%;
    box-shadow: none;
    position: relative;
    height: 87vh !important;
}

.topBannerThankyou {
    background: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/VietnamDogRescue_21+Chau+Doan_591784.jpg?v=1668164335000) no-repeat center center !important;
    background-size: cover;
}

.sloganarea {
	width: 90%
}
.cane {
    background-image: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/FULLWIDTH.jpg?v=1697704123000) !important;
    box-shadow: none;
    padding: 26em 0 2em 0 !important;
    font-weight: bold !important;
}

@media (min-width: 1000px) and (max-width: 1480px) {
.h-50vh  h1 {
 font-size: 1.3rem
}
	
	.h-50vh  h2 {
 font-size: 1.2rem
}
	.h-25vh p {
    font-size: 14px !important;
    font-weight: 600;
}
}



.transaction_donationAmt0.img-custom-amount,
.transaction_donationAmt1.img-custom-amount,
.transaction_donationAmt2.img-custom-amount,
.transaction_donationAmt3.img-custom-amount{
	display: none !important
}

.transaction_donationAmt0.img-custom-amount.active,
.transaction_donationAmt1.img-custom-amount.active,
.transaction_donationAmt2.img-custom-amount.active,
.transaction_donationAmt3.img-custom-amount.active{
	display: block !important
}

.leva {
	display: none !important
}
