.topBanner {
    background-image: linear-gradient(to bottom, rgba(0,0, 0, 0) 40%, rgba(0, 0, 0, 0.2) 100%), url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/Testata-Fur-Action_HSI.jpg?v=1706874996000) !important;
    background-position: 100% 50%;
    box-shadow: none;
    position: relative;
    height: 87vh !important;
}

.testata-thank-you-petizione {
    background: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/image_2024_02_01T17_03_58_177Z.png?v=1706878755000) no-repeat center center !important;
    background-size: cover !important;
} 

.en__field--628318 label:before {
	display: none
}
.en__field--628318 label.en__field__label.en__field__label--item:before {
	display: block
}
.en__field--860069 label:before {
	display: none
}
.en__field--860069 label.en__field__label.en__field__label--item:before {
	display: block
}
 .en__field--628318 {
    margin-bottom: 0 !important;
}

.en__contactMessage__htmlDisplay iframe, .en__contactMessage__plainText {
    height: 320px !important;

} 
@media (min-width: 768px) and (max-width: 1300px)  {
	#main-content .en__component--column.fixed_div_right {
		height: 100vh;
		overflow-x: hidden
	}
	
}
@media (max-width: 1300px) {

.en__contactMessage__htmlDisplay iframe, .en__contactMessage__plainText {
    height: 1500px !important;
	 overflow-y: scroll
} 
	
	
}


@media (max-width: 1300px) {

.en__contactMessage__htmlDisplay iframe, .en__contactMessage__plainText {
    height:3000px !important;
	 overflow-y: scroll
} 
	
	
}

@media (max-width: 767px) {
.topBanner {
    background-position: 48% !important;
}
}