.topBanner {
    background-image: url( https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/242227_Gadhimai+2.jpg?v=1732626781000) !important;
    background-position: center center;
    box-shadow: none;
    position: relative;
    height: 80vh !important;
}
.topBannerThankyou {
    background: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/cd7f7816-e85b-46cb-8e7a-61782323d75f.jpg?v=1733138413000) no-repeat center center;
    background-size: cover;
}

.cane {
    background-image: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/IMG_5356.jpeg?v=1733138618000);
    padding: 18em 0 2em 0 !important;
    box-shadow: inset 0 0 0 2000px rgb(0 10 10 / 30%);
}

.sloganarea {

    text-shadow: -1px 2px rgba(0, 0, 0, 0.8);
}
@media (max-width: 767px) {
.topBanner {
    height: 80vh !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    background-image: url( https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/242227_Gadhimai+2.jpg?v=1732626781000) !important;
}
	
} 