.en__field__label.en__field__label--item:before {
	display: none !important
}



input[type=radio] {
    opacity: 1 !important;
    display: block !important;
    float: left;
    width: 18px;
    height: 18px;
	accent-color: #024731
}
.en__field__input--checkbox {
	position: relative !important
}
input[type=checkbox] {
    padding: 0;
    width: 18px !important;
    height: 18px !important;
    float: left;
    accent-color: #024731;
    clip: auto !important;
    clip-path: none !important;
}

.en__field--radio .en__field__label {
    vertical-align: text-bottom;
    float: left;
    width: 92%;
    padding-left: 5px;
    margin-top: -5px;
}

.en__field__element--checkbox label {
    float: left;
    width: 90%;
    font-size: 12px;
    margin-top: -2px;
    margin-left: 3px;
    line-height: 1.5em;
    position: relative;
    margin-left: 0;
    cursor: pointer;
    padding-left: 10px !important
}

.en__field__item {
      width: 100%;
    margin-bottom: 5px;
}
