.cane {
    background-image: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/_DSC6476_647657.jpg?v=1727699501000);
    padding: 20em 0 6em 0 !important;
}

.topBannerThankyou {
    background: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/20240425_HSI_00024_642646_TP.jpg?v=1715614005000) no-repeat center center;
    background-size: cover;
}