

.topBanner {
    background: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/JC_KOREA_JINDO+DOG+FARM_61_545309.JPG?v=1642688233000) no-repeat center center;
  
    background-size: cover !important;
	    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 10%);

}
.cane {
    background-image: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/dog-meat-last-minute-rescue.JPG?v=1618397764000);
    padding: 18em 0 2em 0 !important;
    box-shadow: inset 0 0 0 2000px rgb(0 10 10 / 30%);
}

.topBannerThankyou {
    background: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/1617560907410-0_535218.jpg?v=1618398334000) no-repeat center center;
	background-size: cover;
}
.en__field--627986 {
	clear: both;
	line-height: 20px;
	margin-bottom: 15px;
}
.en__field--628318 {
	    line-height: 20px;
}

@media (min-width: 1000px) and (max-width: 1480px) {
.topBanner {
    background-position: center center !important

}
}

@media (min-width: 768px) and (max-width: 1001px) {
.topBanner {
    background-position: center center !important

}
}

@media (max-width: 767px) {
.topBanner {
   background-position: center !important
}
	.de-landign .en__field--939705 label {
    font-size: 13px !important;
	}
	.de-landign .en__field--628318 {

    margin-bottom: 50px;
}
}