.topBannerThankyou.questionario-oneoff {
    background: url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2207/thank-testata.jpg?v=1575036713000) no-repeat center center !important
}

.en__submit button{
	font-size: 16px;
    color: #ffffff;
    background: #024731;
    padding: 10px 30px 10px 30px;
    margin: 30px 0px 0px 0px;
    border: 1px solid #024731 ;
	background: #024731 ;
    border-radius: 5px 5px 5px 5px;
}

.en__field__input--checkbox {
	display: none
}
.en__field__element--checkbox label.en__field__label.en__field__label--item:before {
	border-radius: 0
}

.en__field__element--rating {
    display: flex !important
			
}
.en__field__element--rating .en__field__item {
    padding: 6px !important;
    width: auto !important;
}

input[type=checkbox], input[type=radio] {
    visibility: hidden;
}