<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>${page~title}</title>
  <!-- Google Tag Manager — Head -->
  <script>
    /* eslint-disable */
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-59PDSH');
</script>
  <!-- End Google Tag Manager — Head -->
  <link rel="preload stylesheet" as="style" href="https://use.typekit.net/pkd2qjy.css" type="text/css" crossorigin="anonymous">
  <link href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/ecards.css?v=1685642690000"
    rel="stylesheet preload" as="style" type="text/css">

  <meta property="og:site_name" content="Support Humane Society International" />
  <meta property="og:type" content="website" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="256x256"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/android-chrome-256x256.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/favicon-16x16.png">
  <link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/safari-pinned-tab.svg"
    color="#024731">
  <link rel="shortcut icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/favicon.ico">
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no">

  <script>
    // Initialize pageConfigSettings. Each page adds settings in its own
    // settings block, if needed.
    window.pageConfigSettings = window.pageConfigSettings || {};
</script>
</head>

<body class="enya enya-ecard enya-hsi">
  <div id="skip"><a href="#main-content">Skip to Main Content</a></div>
  <!-- Google Tag Manager — Body -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59PDSH" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager — Body -->
  <div id="page-wrapper">
    <div id="page-header">
      <header>
        <div class="logo-header">
          <a href="https://www.hsi.org/" class="hsi-logo" target="_blank" rel="noopener noreferrer"><span>HSI Logo</span></a>
        </div>
      </header>
    </div> <!-- /#page-header -->
    <noscript>
      <div id="noscript-warning">Please enable your browser’s JavaScript.</div>
    </noscript>
    <div id="page-container">
      <div id="page-content">
        <div id="main-container">
          <main id="main-content">
            <!-- End Template Header Block -->

            <!-- Begin Template Footer Block -->
          </main> <!-- /#main-content -->
        </div> <!-- /#main-container -->
      </div> <!-- /#page-content -->
    </div> <!-- /#page-container -->
    <div id="page-footer">
      <div id="page-footer-wrap">
        <ul class="footer-nav">
          <li><a href="https://www.hsi.org/" target="_blank" class="footer-link-home">Home</a></li>
          <li><a href="https://www.hsi.org/privacy-cookie-policy/" target="_blank" class="footer-link-privacy">Privacy Policy</a></li>
          <li><a href="https://www.hsi.org/contact-us/" target="_blank" class="footer-link-contact">Contact Us</a></li>
        </ul>
        <p class="copyright">&copy; <span id="current-year">${page~currentYear}</span> Humane Society International</p>
      </div>
    </div><!-- /#page-footer -->
  </div> <!-- /#page-wrapper -->

  <!--Our loading spinner. We'll move this into place and show it when we need it.-->
  <template id="spinner-template">
    <div class="spinner-container">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
  </template>

  <script src="//geoip-js.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript"></script>

  <!-- allow messaging between page and preview iframe -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js"
    integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w==" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>

  <!-- FreshAddress library requires jQuery :( -->
  <script src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/jquery-3-6-4-min.js"></script>
  
  <!-- FreshAddress client-side integration library. Token is for HSI only. -->
  <script src="//api.freshaddress.biz/js/lib/freshaddress-client-7.0.min.js?token=cf4697794bb00835b0f5d9b0a5827ee92fabc4cc9d46b30a378971268fab98df"></script>

  <script src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/104/ecards.js?v=1686256876000">
</script>

</body>

</html>