<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>${page~title}</title>
  <!-- Google Tag Manager — Head -->
  <script>
    /* eslint-disable */
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TS9VRT');
  </script>
  <!-- End Google Tag Manager — Head -->
  <link rel="preload stylesheet" as="style" href="https://use.typekit.net/pkd2qjy.css" type="text/css" crossorigin="anonymous">
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-WDBC552"></script>
  <link href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/donation.css?v=1644520442000" rel="stylesheet preload" as="style" type="text/css">

  <meta property="og:site_name" content="Support the Humane Society of the United States" />
  <meta property="og:type" content="website" />  
  <link rel="apple-touch-icon" sizes="180x180" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="512x512"  href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/favicon-16x16.png">
  <link rel="mask-icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/hsus-mask-icon.svg" color="#00358E" />
  <link rel="icon" href="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/favicon.ico" type="image/vnd.microsoft.icon" />
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no">
  
  <script>
    // Initialize pageConfigSettings. Each page adds settings in its own
    // settings block, if needed.
    window.pageConfigSettings = window.pageConfigSettings || {};
  </script>

  <!-- Styles for IE warning box. Must be here in wrapper.-->
  <style>
    #ie--box{
      position: absolute !important;
      top: 0 !important;
      width: 100% !important;
      z-index: 2147483647 !important; /* The highest z-index possible */
    }

    .ie--box-bg {
      display: block !important;
      width: 100% !important;
      height: 100% !important;
      position: fixed !important;
      top: 0 !important;
      right: 0 !important;
      background-color: rgba(0, 0, 0, 0.50) !important;
      z-index: 1000 !important;
    }

    .ie--box-wrapper {
      display: block !important;
      position: relative !important;
      -webkit-border-radius: 8px !important;
        -moz-border-radius: 8px !important;
              border-radius: 8px !important;
      max-width: 700px !important;
      width: 90% !important;
      margin: auto !important;
      margin-top: 30vh !important;
      padding: 3rem !important;
      background-color: white !important;
      z-index: 2147483646 !important; /* One lower than the highest z-index possible */
      -webkit-box-shadow: 0px 0px 53px -11px rgba(0,0,0,0.38) !important;
        -moz-box-shadow: 0px 0px 53px -11px rgba(0,0,0,0.38) !important;
              box-shadow: 0px 0px 53px -11px rgba(0,0,0,0.38) !important;
    }
  </style>
</head>

<body class="enya enya-donation">
  <!-- Google Tag Manager — Body -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TS9VRT" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager — Body -->
  
  <!-- Begin unsupported browser box -->
  <!-- h/t https://github.com/4site-interactive-studios/ie11-time-to-die -->  
  <div id="ie--box" style="display: none;">
    <div class="ie--box-bg"></div>
    <div class="ie--box-wrapper">
      <div class="ie--box-msg">
        <strong>Your browser is no longer supported and will not receive any further security updates.</strong> Websites may no longer display or behave correctly as they have in the past. Please transition to using <a href="https://www.microsoft.com/en-us/edge" target="_blank">Microsoft Edge</a>, Microsoft's latest browser, or another modern browser, to make your donation.
      </div>
    </div>
  </div>
  <script>
    /* eslint-disable */
    // Check if User Agent is IE 11.
    if (navigator.appName.indexOf("Internet Explorer") !== -1 ||
        navigator.userAgent.match(/Trident.*rv[ :]*11\./)) {
      document.getElementById("ie--box").style.display = "block";
    } 
  </script>
  <!-- End unsupported browser box. -->
  <div id="page-wrapper">
    <div id="page-header">
      <header>
        <div class="logo-header">
          <a href="https://www.humanesociety.org/" class="hsus-logo" target="_blank"
            rel="noopener noreferrer"><span>HSUS Logo</span></a>
        </div>
      </header>
    </div> <!-- /#page-header -->
    <noscript>
      <div id="noscript-warning">Please enable your browser’s JavaScript.</div>
    </noscript>
    <div id="page-container">
      <div id="page-content">
        <div id="main-container">
          <div id="main-content">
            <!-- End Template Header Block -->
            <!-- Begin Template Footer Block -->
          </div> <!-- /#main-content -->
        </div> <!-- /#main-container -->
      </div> <!-- /#page-content -->
    </div> <!-- /#page-container -->
    <div id="page-footer">
      <footer>
        <div class="legal-text">
          <div class="footer-custom-text-container hidden">
            <!-- If a form has a custom message to show in the footer, Enya will insert it here. -->
          </div>
          <div class="nonprofit-text">
            <p>The Humane Society of the United States<sup>&reg;</sup> is registered as a 501(c)(3) nonprofit
              organization. Contributions to the HSUS are tax-deductible to the extent permitted by law. Donations of $25
              or more
              include a one-year subscription to <em>All Animals</em>, our award-winning membership magazine. The Humane
              Society of
              the United States’ tax identification number is 53-0225390. <a
                href="https://www.humanesociety.org/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy
                Policy</a>
            </p>
          </div>
          <div class="bank-payment-text">
            <p>
              By clicking Donate, you agree to use your bank account as a payment method and authorize this organization
              to debit your bank account to fulfill your donation commitment.
            </p>
          </div>
        </div>

        <div class="copyright-text">
          <p class="copyright">&copy; <span id="current-year">2021</span> The Humane Society of the United States</p>
        </div>

        <script>
          document.getElementById("current-year").textContent = new Date().getFullYear();
        </script>

        <div class="donor-care-text">
          <h5><strong>Questions about donating?</strong></h5>
          <p>
            <a href="mailto:donorcare@humanesociety.org">Send us an email</a>, call us at <a
              href="tel:+1-866-720-2676">866-720-2676</a> or <a
              href="https://www.humanesociety.org/resources/donations-faq" target="_blank" rel="noopener noreferrer">
              read our FAQ</a>.
          </p>
          <p class="bottom-0">
            To contribute by mail, please send a personal check or money order made payable to the HSUS to:
          </p>
          <blockquote>
            The Humane Society of the United States<br>
            1255 23rd Street, NW, Suite 450<br>
            Washington, DC 20037<br>
          </blockquote>
        </div>
      </footer>
    </div> <!-- /#page-footer -->
  </div> <!-- /#page-wrapper -->

  <!--Our loading spinner. We'll move this into place and show it when we need it.-->
  <template id="spinner-template">
    <div class="spinner-container">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
  </template>

  <script
    src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2253/donation.js?v=1644520459000">
  </script>
</body>

</html>