body:not(.enLayout--fullWidth) {
  .d-none {
    display: none !important;
  }
  @include mq($md) {
    .d-md-block {
      display: block !important;
    }
    .d-md-none {
      display: none !important;
    }
  }
}