// -----------------------------------------------------------------------------
// _nudge.scss
// HSUS Engaging Networks Forms - Enya 2021
// Created: Winter 2021
// Purpose: This file contains styles related to the monthly or one-time nudge.
// HSUS uses a monthly nudge. WLT uses a one-time nudge. 
// -----------------------------------------------------------------------------

.monthly-nudge,
.one-time-nudge {
  margin: rem(15) 0 rem(14);

  p {
    font-size: rem(18);
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    float: left;
    width: rem(25);
    height: auto;
    max-width: 25px;
    margin: rem(-6) rem(6) rem(2) rem(4);
    transform: scaleX(-1);
  }

}

.one-time-nudge img {
  height: rem(48);
  margin-top: rem(-21);
}

.monthly-nudge-variant-1,
.monthly-nudge-variant-2 {
  display: flex;

  img.nudge-arrow {
    float: none;
    transform: none;
    margin: rem(1) rem(6) rem(2) rem(10);
    align-self: flex-start;
  }

  img.nudge-heart {
    float: none;
    transform: none;
    width: rem(15);
    margin: 0 0 0 0.25rem;
  }
}

.monthly-nudge-variant-1 p,
.monthly-nudge-variant-2 p {
  color: $black1;
  @include font-family('humane-script');
  font-size: rem(22);
  margin-top: rem(2);
  @include mq($ph) {
    font-size: rem(27);
  }
}

.monthly-nudge-variant-2 p {
  color: $bright-blue;
}


